

@media only screen and (max-width: 600px) {
   .my-margin{
      margin-top: -200px;
      margin-left: 36px;
   }

   .text-mobile{
      margin-top: 50px!important;
      font-size: 24px!important;
   }

   .row-margin{
      margin-top: -300px!important;
   }

   .text-footer{
  
      font-family: 'Montserrat';
      font-size: 14x!important;
   
   
   }

   .quote{
      font-size: 20px!important;
   }
   



}

.one{
  background-image: url('../images/1.jpg');
  /* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when
   the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
   on the container's size */
background-size: cover;

background-color: ;

}


.quote{
   margin-top: 30px;
   color:#FFF;
   font-family: 'Montserrat';
   font-size: 28px;
   font-style: italic;
   font-weight: 200;

}

.two{
   background-color: #74EBD5;
   background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE6 100%);

}

.white-bg{
   background-color: rgba(255,255,255, .54)!important;
   z-index: 1;
}

.black-bg{
   background-color: rgba(0,0,0, .3)!important;
   z-index: 1;
}


.text{
  
   font-family: 'Montserrat';
   font-size: 40px;


}

.text-footer{
  
   font-family: 'Montserrat';
   font-size: 28px;


}

.footer-style{
   background-color: #fff;
   position: absolute;
   margin-top: 72px;
   left: 0;
   right: 0;
   width: 100%;
}

.row-margin{
   margin-top: -50px;
}



.title{
   color:#FFF;
   font-family: 'Montserrat';
   font-size: 24px;
   font-weight: 100;
   margin-top: 50px;
}

my-margin{
   margin-left: 60px;
}

.shadow{

   -webkit-box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.54);
   -moz-box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.54);
   box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.54);  


}



.three{
background-color: #9face6;
background-image: linear-gradient(180deg, #9face6 0%, #80D0C7 100%);

}

.carousel-inner img {
   margin: auto;
 }


 .four{
   background-image: url('../images/vidro.png');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
 }
 .display-4{ 
    color:#000;
   font-family: 'Montserrat';
   font-size: 34px;

 }

    

 .five{
   background-color: #0fd8ff;
   background-image: linear-gradient(0deg, #0fd8ff 0%, #bacfd1 100%);
   
 }