

@media only screen and (max-width: 600px) {
   .my-margin{
      margin-top: -200px;
      margin-left: 36px;
   }

   .text-mobile{
      margin-top: 50px!important;
   }

   .slider-container{
      max-width: 320px!important;
      max-height: 240px!important;
   }

   .text h1{
      
   }

}








.one{
  background-image: url('../images/1.jpg');
  /* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when
   the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
   on the container's size */
background-size: cover;

background-color: ;

}


.quote{
   margin-top: 30px;
   color:#FFF;
   font-family: 'Montserrat';
   font-size: 28px;
   font-style: italic;
   font-weight: 200;

}

.two{
   background-color: #74EBD5;
   background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE6 100%);

}

.text{
  
   color:#FFF;
   font-family: 'Montserrat';
   font-size: 24px;
   font-weight: 100;
   margin-top: auto;
   margin-bottom: auto;


}

my-margin{
   margin-left: 60px;
}

.shadow{

   -webkit-box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.54);
   -moz-box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.54);
   box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.54);  


}
.carousel{
   margin-left: 64px;
}

.border-style{
   border-width: 10px!important;
}
#my-carousel img{
   margin: auto!important;
}


.three{
background-color: #9face6;
background-image: linear-gradient(180deg, #9face6 0%, #80D0C7 100%);

}
.slider-container {    
   max-width: 600px;
   max-height: 480px;
   
   background: #e6e6e6;

   overflow: hidden;
   border-radius: 5px;    
   position:relative;
   &:before {
       content: '.slider-container';
       position: absolute;
       left: 0;
       top: 0;
       color: blue;
   }
}

img {
   display: inline-block;
   vertical-align: center;
   max-width: 80%;
}

.mySlider {
   position: relative;    
}

.slider-item {
   padding: 3.5rem 2.5rem;
   position: relative;
   &:before {
       content: '.slider-item';
       position: absolute;
       left: 0;
       top: 0;
       color: blue;
   }
   
   &:hover {
       cursor: pointer;
   }
}


.controls {
   margin: 0;
   padding: 0;
   list-style: none;
   position: absolute;
   left: 0;    
   width: 100%;    
   top: 50%;
   transform: translatey(-50%);
   display: flex;
   align-items: center;    
   justify-content: space-between;
   &:focus {
       outline: none;
   }

   li:hover {
       cursor: pointer;        
   }
}

   li:hover {
       cursor: pointer;        
   }
}